*
{
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}
body
{
	background-image: url("cover.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity:1;
	
	
}
#need
{
	color:gray;
}
#sign
{
	color:white;
}
body
{
font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

body::after
{
	content:'';
	position:fixed;
	width:100%;
	top:0;
	left:0;
	height:100%;
	z-index:1;
	background: rgba(0,0,0,0.4);
	box-shadow: inset 40px 40px 200px #000000, inset -40px -40px 200px #000000;
}
#info
{
	display:none;
}

.complete
{
	
	min-height: 100%;
	position:relative;
}

 header

{	
	width:100%;
	height:90px;
}
header .logo
{
	float:left;
	position:absolute;
	top:0;
	padding-top:20px;
	padding-left:50px;
	z-index:3;
	cursor: pointer;
	
	

}
.container-fluid
{
	background:rgba(0,0,0,0.5);
	width:100%;
	z-index:3;
	position:relative;
	
	margin-top:770px;
	min-width: 190px;
	opacity:1;
	min-height:236px;	

}
#alldetails
{
	display: flex;
	flex-direction: row;
	position:relative;
	color:gray;
	font-size:13px;
	
	cursor: pointer; 
}
#para1
{
	padding-left:130px;
	padding-right:150px;
}
#para2
{
	padding-right:150px;
}
#para1:hover
{
	text-decoration: underline;
}
#para2:hover
{
	text-decoration: underline;
}
#para3:hover
{
	text-decoration: underline;
}
#contacts
{
	padding-top:30px;
	padding-bottom:20px;
	padding-left:140px;
	color:gray;
}

#main form
{
	width:450px;
	height:670px;
	align-items: center;
	justify-content: center;
	margin-left:750px;
	margin-right:800px;
	border:black;
	padding:60px 60px;
	background: rgba(0,0,0,0.8);
	border-radius: 5px;
	position: absolute;
	z-index:3;
}
form h1
{
	color:white;
	font-weight:bold;
	
	padding-bottom:20px;
}
form input
{
	background: rgb(34, 34, 34);
	align-items: center;
	justify-content: center;
	width:340px;
	height:50px;
	border:0;
	border-radius:5px;
	padding:14px 25px;
	color:white;

}
form button
{border:0;
	border-radius: 3px;
	background:red;
	width:340px;
	height:50px;
	color:white;
	font-weight:bold;


}
span
{
	justify-content: space-between;
}
.spans
{
	padding-top:10px;
}
#first
{
	color:gray;
}
#sec
{
	padding-right:5px;
	padding-left:100px;
	color:gray;
}
.log
{
	color:gray;
	padding-top:20px;
	padding-bottom:10px;
}
#fb
{
	color:white;
	background:blue;
	width:20px;
	padding:2px 5px ;
	margin-right:2px;
}
.third,.four
{
	color:gray;
}
.four
{padding-top:10px;
	font-size:13px;
}
#span2
{
	font-weight:400px;
	font-size:18px;
	color:white;
}



@media (min-width:768px)
{
	#main form
{
	
	margin-left:200px;
	margin-right:900px;
	
}
}
@media (min-width:840px)
{
	#main form
{
	
	margin-left:250px;
	
}
}
@media (min-width:990px)
{
	#main form
{
	
	margin-left:300px;
	
}
}
@media (min-width:1200px)
{
	#main form
{
	
	margin-left:450px;
	
}
}
@media (max-width:767px)
{
	#main form
{
	
	margin-left:170px;
	margin-top:50px;
}
	body
	{
		height:1200px;
	}
	
	.container-fluid
{
	
	margin-top:850px;
	min-width: 190px;
	opacity:1;
	min-height:236px;	

}
}
@media (max-width:620px)
{
	#main form
{
	
	margin-left:140px;
	
}
}
@media (max-width:550px)
{
	#main form
{
	
	margin-left:100px;
	
}
}
@media (max-width:490px)
{
	body
	{
		height:1200px;
	}
	#main form
{
	
	margin-left:40px;
	
}
	.container-fluid
{
	
	width:1000px;	

}
#para1
{
	padding-left:30px;
	padding-right:20px;
}
#para2
{
	padding-right:20px;
}
#para3
{
	padding-right:20px;

}
#contacts
{
	
	padding-left:70px;
	color:gray;
}
}
@media (max-width:470px)
{
	#main form
{
	
	margin-left:20px;
	
}
}
@media (max-width:420px)
{
	#main form
{
	
	margin-left:0px;
	
}
.container-fluid
{
	
	width:1300px;	

}
}
@media (max-width:390px)
{
	body
	{
		height:1500px;
	}
	
.container-fluid
{
	
	
	min-width: 700px;	
	margin-top:1200px;

}
#main form
{
	
	margin-left:100px;
	margin-right:5px;
	margin-top:150px;
	
}


}
@media (max-width:300px)
{
	body
	{
		height:1500px;
	}
	.container-fluid
{
	
	margin-top:1200px;
	min-width: 500px;
	opacity:1;
	min-height:236px;	

}
#main form
{
	
	margin-left:45px;
	margin-right:5px;
	margin-top:150px;
	
}
}
@media (min-width:1400px)
{
	#main form
{
	
	margin-left:700px;
	
}

}
@media (min-width:2000px)
{
	#main form
{
	
	margin-left:900px;
	
}

}

#emailcheck,#passcheck
{
	font-size:12px;
	color:darkorange;
	margin-top:15px;
}
